/*Setear mi css*/
body{
    box-sizing: border-box;
    color:#303030;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

/*Clases reutilizables*/
.text-uppercase {
    text-transform: uppercase;
}

/*Clases especificas*/
a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    display: inline;
    margin: 10px;
}

.logo-header {
    width: 200px;
}

header {
    position: relative;
}

nav {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.box-header {
    display: inline-block;
}

.logo-square {
    width: 125px;
} 

section {
    text-align: center;

}

div {
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    padding: 2px;
    margin-top: 40px;
    margin-bottom: 50px;
}

button {
    width: 130px;
    height: 40px;
    background-color: #EB9627;
    border:none;
    border-radius: 4px;
    padding: 7px;
    font-family: inherit;
    font-size: 10px;
    color:white;
    margin-top: 30px;
    margin-bottom: 5px;
}

button:hover {
    background-color: #644721;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 40px;
    transition: 4s;
}

li:hover, [class^="icon-"]:hover , [class*=" icon-"]:hover {
    color: #EB9627;
}

footer {
    background-color: #303030;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}